<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot password</title>
</head>

<body>
  <b>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae atque neque ipsa perferendis corporis!
    Veritatis facere, similique tempora praesentium reprehenderit modi sunt voluptatum laborum architecto vero pariatur,
    maiores iure culpa.</b>
  {{> link}}
</body>

</html>
