<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot password</title>
</head>

<body>
  <b>Hello, {{username}}</b>
  <b>Please follow the link to set up your password</b>
  {{> link}}
</body>

</html>
